{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matko maps</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title d-none d-sm-block" id="my-title">Menu</h6>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p><a href="{% url 'home' %}">Home</a></p>
            <p><a href="{% url 'view_obstacles' %}">View obstacles</a></p>
            <p><a href="{% url 'route_view' %}">Directions</a> </p>
        </div>
    </div>
    <div id="container">
        <div id="menu">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div id="map"></div>
    </div>

    {{ geojson_data|json_script:"geojson_points" }}

    <script>
        var map = L.map('map').setView([48.14, 17.12], 10);

        osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        googleSat = L.tileLayer('http://{s}.google.com/vt?lyrs=s&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3']
        });

        googleStreets = L.tileLayer('http://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3']
        });

        var baseMaps = {
        "OpenStreetMap": osm,
        "Google Map": googleStreets,
        "Google Satellite": googleSat,
        };

        var layerControl = L.control.layers(baseMaps).addTo(map);

        let geojson_data = JSON.parse(document.getElementById('geojson_points').textContent);

        geojson_data.features.forEach(pointik => {
            L.marker([pointik.geometry.coordinates[1], pointik.geometry.coordinates[0]], popup=name).addTo(map);
        });

    </script>
</body>
</html>