body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
    background-color: rgb(255, 255, 255);
    border: none; 
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* font-size: 24px; 
    width: 50px; 
    height: 50px;  */
}
#menu {
    position: absolute;
    z-index: 1000;
}
.offcanvas-body {
  padding: 20px;
}

.offcanvas-body p {
  margin: 0;
  padding: 10px 0;
}

.offcanvas-body a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.3s;
}

.offcanvas-body a:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.offcanvas-body a i {
  margin-right: 10px; /* Adjust spacing between icon and text */
}

.offcanvas-body a span {
  color: #333; /* Default color for text */
}

.offcanvas-body a:hover span {
  color: #007bff; /* Change text color on hover */
}
#loading-icon {
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1000;
}
#loading-icon img {
  width: 50px;
  height: 50px;
}
#map { 
    position: absolute ; 
    top: 0 ; 
    bottom: 0 ; 
    left: 0 ;
    right: 0 ; 
    width: 100% ;
    z-index: 10; 
}
#deleteButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1000;
  opacity: 1;
}
#popup_btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1000;
  opacity: 1;
}
.info_popup {
  position: absolute;
  top: 25px; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  z-index: 1000; 
}
.directions-button,
.obstacles-button {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text */
    border: none;
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth color transition */
    text-decoration: none; /* Remove underline */
}

.directions-button:hover,
.obstacles-button:hover {
    background-color: #007bff; /* Darker blue on hover */
}
/* toggle switch button */
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}